# Boat Price Prediction

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("Boats_Cleaned_dataset.csv")
df

,Unnamed: 0,id,type,boatClass,make,model,year,condition,length_ft,beam_ft,...,minEngineYear,engineCategory,price,sellerId,city,state,zip,created_date,created_month,created_year
0,1,7252689,power,power-center,Aquasport,210 CC,1992,used,21.00,8.50,...,NaN,outboard-4s,16500.0,217053,Englewood,FL,34224,2019-10-16,10,2019
1,3,7228300,power,power-sportcruiser,Formula,400 Super Sport,2018,used,40.00,11.00,...,2018.0,inboard-outboard,539000.0,44260,Harsens Island,MI,48028,2019-09-24,9,2019
2,5,7271336,power,power-deck,Bayliner,Element 180,2020,new,18.00,7.42,...,2019.0,outboard-4s,26995.0,220570,Marietta,OH,45750,2019-11-02,11,2019
3,6,7222952,power,power-expresscruiser,Regal,32 Express,2015,used,32.00,10.33,...,NaN,multiple,169995.0,34834,North Charleston,SC,29405,2019-09-19,9,2019
4,8,6824832,power,power-aft,Carver,440 Aft Cabin Motor Yacht,1994,used,44.00,15.00,...,1994.0,inboard,109900.0,17942,Middle River,MD,21220,2018-08-29,8,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18898,19996,7127945,power,power-pontoon,Silver Wave,250 Play,2013,used,25.00,8.50,...,NaN,NaN,31973.0,34647,Acworth,GA,30102,2019-06-25,6,2019
18899,19997,7110910,power,power-runabout,Rinker,Captiva 200 MTX,2013,used,19.33,8.00,...,NaN,NaN,26995.0,6335,New Baltimore,MI,48047,2019-06-12,6,2019
18900,19998,6935123,power,power-bay,Blazer,2200,2019,new,22.00,7.67,...,NaN,NaN,39995.0,65602,Seabrook,TX,77586,2018-12-12,12,2018
18901,19999,7079181,power,power-pontoon,Aloha,250,2004,used,25.00,8.50,...,NaN,NaN,16900.0,3180,Sunrise Beach,MO,65079,2019-05-10,5,2019
18902,20000,7140924,power,power-cruiser,Bayliner,2655 Ciera,2002,new,26.58,9.42,...,2002.0,inboard-outboard,17900.0,152266,Gainesville,GA,30501,2019-07-08,7,2019

In [6]:
df.shape

(18903, 26)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18903 entries, 0 to 18902
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      18903 non-null  int64
 1   id              18903 non-null  int64
 2   type            18903 non-null  object
 3   boatClass       18903 non-null  object
 4   make            18903 non-null  object
 5   model           18868 non-null  object
 6   year            18903 non-null  int64
 7   condition       18903 non-null  object
 8   length_ft       18903 non-null  float64
 9   beam_ft         12399 non-null  float64
 10  dryWeight_lb    7094 non-null   float64
 11  hullMaterial    18903 non-null  object
 12  fuelType        15951 non-null  object
 13  numEngines      18903 non-null  int64
 14  totalHP         18055 non-null  float64
 15  maxEngineYear   2205 non-null   float64
 16  minEngineYear   2174 non-null   float64
 17  engineCategory  8410 non-null   object
 18  price           18903 non-null  float64
 19  sellerId        18903 non-null  int64
 20  city            18847 non-null  object
 21  state           18903 non-null  object
 22  zip             10215 non-null  object
 23  created_date    18903 non-null  object
 24  created_month   18903 non-null  int64
 25  created_year    18903 non-null  int64
dtypes: float64(7), int64(7), object(12)
memory usage: 3.7+ MB

---

## Preprocessing

### 1)
First I get rid off all the columns that have more than 40% of nulls in

In [10]:
df['dryWeight_lb'].isna().sum() / len(df['dryWeight_lb'])

0.6247156535999577

In [11]:
[df.drop(columns=col, inplace=True) for col in df.columns if  (df[col].isna().sum() / len(df[col])) > 0.4]

[None, None, None, None, None]

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18903 entries, 0 to 18902
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     18903 non-null  int64
 1   id             18903 non-null  int64
 2   type           18903 non-null  object
 3   boatClass      18903 non-null  object
 4   make           18903 non-null  object
 5   model          18868 non-null  object
 6   year           18903 non-null  int64
 7   condition      18903 non-null  object
 8   length_ft      18903 non-null  float64
 9   beam_ft        12399 non-null  float64
 10  hullMaterial   18903 non-null  object
 11  fuelType       15951 non-null  object
 12  numEngines     18903 non-null  int64
 13  totalHP        18055 non-null  float64
 14  price          18903 non-null  float64
 15  sellerId       18903 non-null  int64
 16  city           18847 non-null  object
 17  state          18903 non-null  object
 18  created_date   18903 non-null  object
 19  created_month  18903 non-null  int64
 20  created_year   18903 non-null  int64
dtypes: float64(4), int64(7), object(10)
memory usage: 3.0+ MB

### 2)

I get rid of unnecesarry columns.

I divide data set on target and features, which I then separate on numeric and categorical columns.

In [32]:
df.columns

Index(['Unnamed: 0', 'id', 'type', 'boatClass', 'make', 'model', 'year',
       'condition', 'length_ft', 'beam_ft', 'hullMaterial', 'fuelType',
       'numEngines', 'totalHP', 'price', 'sellerId', 'city', 'state',
       'created_date', 'created_month', 'created_year'],
      dtype='object')

In [33]:
df.drop(['id', 'sellerId', 'created_date'], axis=1, inplace=True)

In [34]:
df.columns

Index(['Unnamed: 0', 'type', 'boatClass', 'make', 'model', 'year', 'condition',
       'length_ft', 'beam_ft', 'hullMaterial', 'fuelType', 'numEngines',
       'totalHP', 'price', 'city', 'state', 'created_month', 'created_year'],
      dtype='object')

In [35]:
# I change some columns name

In [37]:
df.rename(columns={'created_month': 'advertise_month', 'created_year': 'advertise_year'})

,Unnamed: 0,type,boatClass,make,model,year,condition,length_ft,beam_ft,hullMaterial,fuelType,numEngines,totalHP,price,city,state,advertise_month,advertise_year
0,1,power,power-center,Aquasport,210 CC,1992,used,21.00,8.50,fiberglass,gasoline,1,150.0,16500.0,Englewood,FL,10,2019
1,3,power,power-sportcruiser,Formula,400 Super Sport,2018,used,40.00,11.00,fiberglass,diesel,2,800.0,539000.0,Harsens Island,MI,9,2019
2,5,power,power-deck,Bayliner,Element 180,2020,new,18.00,7.42,fiberglass,gasoline,1,75.0,26995.0,Marietta,OH,11,2019
3,6,power,power-expresscruiser,Regal,32 Express,2015,used,32.00,10.33,fiberglass,gasoline,2,600.0,169995.0,North Charleston,SC,9,2019
4,8,power,power-aft,Carver,440 Aft Cabin Motor Yacht,1994,used,44.00,15.00,fiberglass,diesel,2,700.0,109900.0,Middle River,MD,8,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18898,19996,power,power-pontoon,Silver Wave,250 Play,2013,used,25.00,8.50,aluminum,gasoline,0,NaN,31973.0,Acworth,GA,6,2019
18899,19997,power,power-runabout,Rinker,Captiva 200 MTX,2013,used,19.33,8.00,fiberglass,gasoline,1,0.0,26995.0,New Baltimore,MI,6,2019
18900,19998,power,power-bay,Blazer,2200,2019,new,22.00,7.67,fiberglass,gasoline,0,NaN,39995.0,Seabrook,TX,12,2018
18901,19999,power,power-pontoon,Aloha,250,2004,used,25.00,8.50,aluminum,gasoline,0,NaN,16900.0,Sunrise Beach,MO,5,2019
18902,20000,power,power-cruiser,Bayliner,2655 Ciera,2002,new,26.58,9.42,fiberglass,gasoline,1,220.0,17900.0,Gainesville,GA,7,2019

In [38]:
df.drop(columns=['Unnamed: 0'], inplace=True)

In [39]:
df

,type,boatClass,make,model,year,condition,length_ft,beam_ft,hullMaterial,fuelType,numEngines,totalHP,price,city,state,created_month,created_year
0,power,power-center,Aquasport,210 CC,1992,used,21.00,8.50,fiberglass,gasoline,1,150.0,16500.0,Englewood,FL,10,2019
1,power,power-sportcruiser,Formula,400 Super Sport,2018,used,40.00,11.00,fiberglass,diesel,2,800.0,539000.0,Harsens Island,MI,9,2019
2,power,power-deck,Bayliner,Element 180,2020,new,18.00,7.42,fiberglass,gasoline,1,75.0,26995.0,Marietta,OH,11,2019
3,power,power-expresscruiser,Regal,32 Express,2015,used,32.00,10.33,fiberglass,gasoline,2,600.0,169995.0,North Charleston,SC,9,2019
4,power,power-aft,Carver,440 Aft Cabin Motor Yacht,1994,used,44.00,15.00,fiberglass,diesel,2,700.0,109900.0,Middle River,MD,8,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18898,power,power-pontoon,Silver Wave,250 Play,2013,used,25.00,8.50,aluminum,gasoline,0,NaN,31973.0,Acworth,GA,6,2019
18899,power,power-runabout,Rinker,Captiva 200 MTX,2013,used,19.33,8.00,fiberglass,gasoline,1,0.0,26995.0,New Baltimore,MI,6,2019
18900,power,power-bay,Blazer,2200,2019,new,22.00,7.67,fiberglass,gasoline,0,NaN,39995.0,Seabrook,TX,12,2018
18901,power,power-pontoon,Aloha,250,2004,used,25.00,8.50,aluminum,gasoline,0,NaN,16900.0,Sunrise Beach,MO,5,2019
18902,power,power-cruiser,Bayliner,2655 Ciera,2002,new,26.58,9.42,fiberglass,gasoline,1,220.0,17900.0,Gainesville,GA,7,2019

In [41]:
y = df['price']

In [42]:
X = df.drop(columns=['price'])

In [43]:
X

,type,boatClass,make,model,year,condition,length_ft,beam_ft,hullMaterial,fuelType,numEngines,totalHP,city,state,created_month,created_year
0,power,power-center,Aquasport,210 CC,1992,used,21.00,8.50,fiberglass,gasoline,1,150.0,Englewood,FL,10,2019
1,power,power-sportcruiser,Formula,400 Super Sport,2018,used,40.00,11.00,fiberglass,diesel,2,800.0,Harsens Island,MI,9,2019
2,power,power-deck,Bayliner,Element 180,2020,new,18.00,7.42,fiberglass,gasoline,1,75.0,Marietta,OH,11,2019
3,power,power-expresscruiser,Regal,32 Express,2015,used,32.00,10.33,fiberglass,gasoline,2,600.0,North Charleston,SC,9,2019
4,power,power-aft,Carver,440 Aft Cabin Motor Yacht,1994,used,44.00,15.00,fiberglass,diesel,2,700.0,Middle River,MD,8,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18898,power,power-pontoon,Silver Wave,250 Play,2013,used,25.00,8.50,aluminum,gasoline,0,NaN,Acworth,GA,6,2019
18899,power,power-runabout,Rinker,Captiva 200 MTX,2013,used,19.33,8.00,fiberglass,gasoline,1,0.0,New Baltimore,MI,6,2019
18900,power,power-bay,Blazer,2200,2019,new,22.00,7.67,fiberglass,gasoline,0,NaN,Seabrook,TX,12,2018
18901,power,power-pontoon,Aloha,250,2004,used,25.00,8.50,aluminum,gasoline,0,NaN,Sunrise Beach,MO,5,2019
18902,power,power-cruiser,Bayliner,2655 Ciera,2002,new,26.58,9.42,fiberglass,gasoline,1,220.0,Gainesville,GA,7,2019

In [44]:
num_columns = X.select_dtypes(['int', 'float'])
cat_columns = X.select_dtypes(['object'])

### 3)

I will now take care of categorical data preprocessing

In [57]:
for col in cat_columns.columns:
    print(col, len(cat_columns[col].unique()))

type 3
boatClass 72
make 960
model 7900
condition 2
hullMaterial 9
fuelType 5
city 1150
state 49

In [60]:
# I delete columns that have too many values
cat_columns.drop(columns=['make', 'model', 'city'], inplace=True)

In [61]:
for col in cat_columns.columns:
    print(col, len(cat_columns[col].unique()))

type 3
boatClass 72
condition 2
hullMaterial 9
fuelType 5
state 49

In [69]:
cat_columns.isna().sum()

type               0
boatClass          0
condition          0
hullMaterial       0
fuelType        2952
state              0
dtype: int64

In [73]:
cat_columns['fuelType'].value_counts()

fuelType
other       8655
gasoline    6359
diesel       924
electric      13
Name: count, dtype: int64

In [74]:
# I will imply something like label encoding on fuel_type 
# and then One Hot Encoding on other features

In [91]:
fuel_type_col = cat_columns['fuelType']
fuel_type_col = pd.concat([fuel_type_col, fuel_type_col.isnull()], axis=1)
fuel_type_col.columns = ['fuelType', 'noFuelType']
fuel_type_col

       fuelType  noFuelType
0      gasoline       False
1        diesel       False
2      gasoline       False
3      gasoline       False
4        diesel       False
...         ...         ...
18898  gasoline       False
18899  gasoline       False
18900  gasoline       False
18901  gasoline       False
18902  gasoline       False

[18903 rows x 2 columns]

In [92]:
fuel_type_col['fuelType'] = fuel_type_col['fuelType'].map({'electric': 0, 'diesel': 1, 'gasoline':2, 'other': 3})
fuel_type_col.fillna(4, inplace=True)
fuel_type_col['noFuelType'] = fuel_type_col['noFuelType'].astype('int')
fuel_type_col

       fuelType  noFuelType
0           2.0           0
1           1.0           0
2           2.0           0
3           2.0           0
4           1.0           0
...         ...         ...
18898       2.0           0
18899       2.0           0
18900       2.0           0
18901       2.0           0
18902       2.0           0

[18903 rows x 2 columns]

In [93]:
fuel_type_col.isna().sum()

fuelType      0
noFuelType    0
dtype: int64

In [94]:
from sklearn.preprocessing import OneHotEncoder

In [95]:
ohe = OneHotEncoder()

cat_columns_preprocessed = pd.DataFrame(ohe.fit_transform(cat_columns.drop(columns='fuelType')).toarray(), index=cat_columns.index, columns=ohe.get_feature_names_out())

In [66]:
cat_columns_preprocessed

,type_power,type_sail,type_unpowered,boatClass_power-aft,boatClass_power-airboat,boatClass_power-aluminum,boatClass_power-antique,boatClass_power-barge,boatClass_power-bass,boatClass_power-bay,...,state_SC,state_SD,state_TN,state_TX,state_UT,state_VA,state_VT,state_WA,state_WI,state_WV
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18898,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18899,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18900,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
18901,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18902,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [96]:
cat_columns_preprocessed_full = pd.concat([cat_columns_preprocessed, fuel_type_col], axis=1)
cat_columns_preprocessed_full

,type_power,type_sail,type_unpowered,boatClass_power-aft,boatClass_power-airboat,boatClass_power-aluminum,boatClass_power-antique,boatClass_power-barge,boatClass_power-bass,boatClass_power-bay,...,state_TN,state_TX,state_UT,state_VA,state_VT,state_WA,state_WI,state_WV,fuelType,noFuelType
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0
4,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18898,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0
18899,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0
18900,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0
18901,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0
18902,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0

### 4) 

I will now take care of numerical columns preprocessing

In [97]:
num_columns

,year,length_ft,beam_ft,numEngines,totalHP,created_month,created_year
0,1992,21.00,8.50,1,150.0,10,2019
1,2018,40.00,11.00,2,800.0,9,2019
2,2020,18.00,7.42,1,75.0,11,2019
3,2015,32.00,10.33,2,600.0,9,2019
4,1994,44.00,15.00,2,700.0,8,2018
...,...,...,...,...,...,...,...
18898,2013,25.00,8.50,0,NaN,6,2019
18899,2013,19.33,8.00,1,0.0,6,2019
18900,2019,22.00,7.67,0,NaN,12,2018
18901,2004,25.00,8.50,0,NaN,5,2019
18902,2002,26.58,9.42,1,220.0,7,2019

In [98]:
num_columns.isna().sum()

year                0
length_ft           0
beam_ft          6504
numEngines          0
totalHP           848
created_month       0
created_year        0
dtype: int64

In [101]:
for col in num_columns.columns:
    num_columns[col] = num_columns[col].fillna(num_columns[col].mean())

In [102]:
num_columns.isna().sum()

year             0
length_ft        0
beam_ft          0
numEngines       0
totalHP          0
created_month    0
created_year     0
dtype: int64

In [103]:
num_columns

,year,length_ft,beam_ft,numEngines,totalHP,created_month,created_year
0,1992,21.00,8.50,1,150.000000,10,2019
1,2018,40.00,11.00,2,800.000000,9,2019
2,2020,18.00,7.42,1,75.000000,11,2019
3,2015,32.00,10.33,2,600.000000,9,2019
4,1994,44.00,15.00,2,700.000000,8,2018
...,...,...,...,...,...,...,...
18898,2013,25.00,8.50,0,112.849006,6,2019
18899,2013,19.33,8.00,1,0.000000,6,2019
18900,2019,22.00,7.67,0,112.849006,12,2018
18901,2004,25.00,8.50,0,112.849006,5,2019
18902,2002,26.58,9.42,1,220.000000,7,2019

In [104]:
# Now im gonna scale numerical columns with MinMaxScaler

In [110]:
from sklearn.preprocessing import MinMaxScaler

In [111]:
scaler = MinMaxScaler()

scaled_num_columns = num_columns.copy()

for col in scaled_num_columns.columns:
    col_data = scaled_num_columns[col].values.reshape(-1, 1)
    scaled_num_columns[col] = scaler.fit_transform(col_data)

scaled_num_columns

,year,length_ft,beam_ft,numEngines,totalHP,created_month,created_year
0,0.745455,0.053476,0.006423,0.25,0.020833,0.818182,1.0000
1,0.981818,0.104278,0.008330,0.50,0.111111,0.727273,1.0000
2,1.000000,0.045455,0.005599,0.25,0.010417,0.909091,1.0000
3,0.954545,0.082888,0.007819,0.50,0.083333,0.727273,1.0000
4,0.763636,0.114973,0.011381,0.50,0.097222,0.636364,0.9375
...,...,...,...,...,...,...,...
18898,0.936364,0.064171,0.006423,0.00,0.015673,0.454545,1.0000
18899,0.936364,0.049011,0.006042,0.25,0.000000,0.454545,1.0000
18900,0.990909,0.056150,0.005790,0.00,0.015673,1.000000,0.9375
18901,0.854545,0.064171,0.006423,0.00,0.015673,0.363636,1.0000
18902,0.836364,0.068396,0.007125,0.25,0.030556,0.545455,1.0000

### 5)

I now join preprocessed numerical and categorical columns

In [112]:
X = pd.concat([scaled_num_columns, cat_columns_preprocessed_full], axis = 1)
X

,year,length_ft,beam_ft,numEngines,totalHP,created_month,created_year,type_power,type_sail,type_unpowered,...,state_TN,state_TX,state_UT,state_VA,state_VT,state_WA,state_WI,state_WV,fuelType,noFuelType
0,0.745455,0.053476,0.006423,0.25,0.020833,0.818182,1.0000,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0
1,0.981818,0.104278,0.008330,0.50,0.111111,0.727273,1.0000,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0
2,1.000000,0.045455,0.005599,0.25,0.010417,0.909091,1.0000,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0
3,0.954545,0.082888,0.007819,0.50,0.083333,0.727273,1.0000,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0
4,0.763636,0.114973,0.011381,0.50,0.097222,0.636364,0.9375,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18898,0.936364,0.064171,0.006423,0.00,0.015673,0.454545,1.0000,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0
18899,0.936364,0.049011,0.006042,0.25,0.000000,0.454545,1.0000,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0
18900,0.990909,0.056150,0.005790,0.00,0.015673,1.000000,0.9375,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0
18901,0.854545,0.064171,0.006423,0.00,0.015673,0.363636,1.0000,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0
18902,0.836364,0.068396,0.007125,0.25,0.030556,0.545455,1.0000,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0

## Models

In [115]:
from sklearn.model_selection import train_test_split

In [116]:
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=0.25, 
                                                    random_state=1)

### 1) Linear regression model

In [120]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

In [118]:
model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [121]:
mean_absolute_error(y_test, y_pred)

175760020715394.6

### 2) Ridge model

In [130]:
from sklearn.linear_model import Ridge
from sklearn.model_selection import GridSearchCV

In [154]:
model = Ridge()

params = {'alpha': [10000, 50000,100000],
         'solver' : ['auto', 'svd', 'cholesky', 'lsqr', 'sparse_cg', 'sag', 'saga', 'lbfgs']}

gs = GridSearchCV(model, params, cv=10)

gs.fit(X_train, y_train)

/home/kuba/anaconda3/lib/python3.11/site-packages/sklearn/model_selection/_validation.py:425: FitFailedWarning:
30 fits failed out of a total of 240.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
30 fits failed with the following error:
Traceback (most recent call last):
  File "/home/kuba/anaconda3/lib/python3.11/site-packages/sklearn/model_selection/_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/home/kuba/anaconda3/lib/python3.11/site-packages/sklearn/base.py", line 1151, in wrapper
    return fit_method(estimator, *args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/kuba/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_ridge.py", line 1142, in fit
    return super().fit(X, y, sample_weight=sample_weight)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/kuba/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_ridge.py", line 819, in fit
    raise ValueError(
ValueError: 'lbfgs' solver can be used only when positive=True. Please use another solver.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
/home/kuba/anaconda3/lib/python3.11/site-packages/sklearn/model_selection/_search.py:976: UserWarning: One or more of the test scores are non-finite: [-33.3400355  -33.3400355  -33.3400355  -33.35316931 -33.34005705
 -33.33996636 -33.33984733          nan -24.89701185 -24.89701185
 -24.89701185 -24.89938881 -24.8970245  -24.8970697  -24.89704433
          nan -24.55674956 -24.55674956 -24.55674956 -24.55699263
 -24.55675044 -24.55675182 -24.55674902          nan]
  warnings.warn(

GridSearchCV(cv=10, estimator=Ridge(),
             param_grid={'alpha': [10000, 50000, 100000],
                         'solver': ['auto', 'svd', 'cholesky', 'lsqr',
                                    'sparse_cg', 'sag', 'saga', 'lbfgs']})

In [135]:
y_pred = gs.predict(X_test)

mean_absolute_error(y_test, y_pred)

2705277.8678176645

In [138]:
gs.best_params_

{'alpha': 100, 'solver': 'saga'}

In [140]:
y_pred = gs.predict(X_test)

mean_absolute_error(y_test, y_pred)

1953193.3463279468

In [141]:
gs.best_params_

{'alpha': 300, 'solver': 'sag'}

In [143]:
y_pred = gs.predict(X_test)

mean_absolute_error(y_test, y_pred)

1661830.558317982

In [144]:
gs.best_params_

{'alpha': 500, 'solver': 'sag'}

In [146]:
y_pred = gs.predict(X_test)

mean_absolute_error(y_test, y_pred)

1345145.1488193779

In [147]:
gs.best_params_

{'alpha': 1000, 'solver': 'sag'}

In [149]:
y_pred = gs.predict(X_test)

mean_absolute_error(y_test, y_pred)

789436.7040528422

In [150]:
gs.best_params_

{'alpha': 10000, 'solver': 'sag'}

In [152]:
y_pred = gs.predict(X_test)

mean_absolute_error(y_test, y_pred)

786290.574924263

In [153]:
gs.best_params_

{'alpha': 100000, 'solver': 'sag'}

In [155]:
y_pred = gs.predict(X_test)

mean_absolute_error(y_test, y_pred)

786290.6181195535

In [156]:
gs.best_params_

{'alpha': 100000, 'solver': 'saga'}

### 3) Lasso model